{% extends 'Base.html' %}
{% block content %}

<div class="flexd">
	<div class="flexr">
		<form action="/create_sighting" method="POST" class="flexr justify-content-between">
			<input type="hidden" name="user_id" value="{{session['id']}}">
			<div class="flexd">
				{{session['id']}}
				{{session['user']}}
				<h2>Report a Sighting</h2>

				<label for="location">Location:
					{% for message in get_flashed_messages(category_filter=['err_sighting_location_count']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
				</label>
				<input type="text" name="location">

				<label for="content">What Happened:
					{% for message in get_flashed_messages(category_filter=['err_sighting_content_count']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
				</label>
				<textarea name="content" class="content_box"></textarea>
				<button class="shaded">Report</button>
			</div>

			<div class="flexd">
				<label for="date_seen">When it Happened:
					{% for message in get_flashed_messages(category_filter=['err_sighting_date_syntax']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
				</label>
				<input type="datetime-local" name="date_seen" value="" placeholder="" aria-placeholder="">

				<label for="num_seen">How many Sasquatches:
					{% for message in get_flashed_messages(category_filter=['err_sighting_num_seen_zero']) %}
					<p class="err-msg">{{message}}</p>
					{% endfor %}
				</label>
				<input class="num sas" type="number" name="num_seen">
			</div>
		</form>
	</div>
</div>




















{% endblock %}