{% extends 'Base.html' %}
{% block content %}
<div class="container flexd">
	<h2>Reported Sightings</h2>
	<div class="content_box flexd align-items-center">
		
		{% for sight in users.sightings %}
		<div class="article flexr justify-content-between">
			<div class="skeptics">Skeptics: {{ believers | length}}</div>
			<div class="article-info flexd">
				<div>{{sight.location if sight else ''}} - {{sight.date_seen if sight else ''}}</div>
				<div>
					<p>Reporter: {{users.email if session['id'] != sight.user_id else 'You'}}</p>
				</div>
			</div>
			<div class="flexr">
				<div class="small_box"><a href="/view_sighting/{{sight.id}}" class="shaded">View</a></div>
				<div class="small_box {{ 'visually-hidden' if session['id'] != sight.user_id else ''}}"><a
						href="/edit_sighting/{{sight.id}}" class="shaded">Edit</a></div>
				<div class="small_box {{ 'visually-hidden' if session['id'] != sight.user_id else ''}}"><a
						href="/delete_sighting/{{sight.id}}" class="shaded">Delete</a></div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>
{% endblock %}