{% extends 'Base.html' %}
{% block content %}
<div class="flexr justify-content-evenly">
	<div>

		<div class="flexd"><h4>Register</h4>
			<form action="/create" method="post" class="flexd">

				<p>First name: </p>
				<input name="fname" value="{{data['fname'] if data['fname'] else ''}}">
				{% for message in get_flashed_messages(category_filter=['err_user_fname_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_fname_complexity']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

				<p>Last name: </p><input name="lname">
				{% for message in get_flashed_messages(category_filter=['err_user_lname_count']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_lname_complexity']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

				<p>Email: </p><input name="email">
				{% for message in get_flashed_messages(category_filter=['err_user_email']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_email_exists']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

				<p>Password: </p><input name="password" type="password" id="password" class="" oninput="check_confirm()">
				{% for message in get_flashed_messages(category_filter=['err_user_password']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				{% for message in get_flashed_messages(category_filter=['err_user_password_complexity']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}

				<p>Confirm Password: </p><input name="password-confirm" type="password" id="password_confirm" class=""
						oninput="check_confirm()">
				{% for message in get_flashed_messages(category_filter=['err_user_password-confirm']) %}
				<p class="err-msg">{{message}}</p>
				{% endfor %}
				<p> </p>
				<button class="shaded">Register</button>
			</form>
		</div>
	</div>
	

	<div class="flexd">
		<h4>Already registered? Login.</h4>

		<form action="/login" method="post" class="flexd justify-content-between">

			<p>Email: <input name="email" value="{{email if email else 'dannylew12@yahoo.com'}}"></p>
			{% for message in get_flashed_messages(category_filter=['err_user_login_email']) %}
			<p class="err-msg">{{message}}</p>
			{% endfor %}

			<p>Password: <input name="password" type="password" id="login-password" class="" oninput="check_confirm()" value="{{password if password else 'Dannylew12'}}"></p>
			{% for message in get_flashed_messages(category_filter=['err_user_login_password']) %}
			<p class="err-msg">{{message}}</p>
			{% endfor %}
			<button class="shaded">Login</button>
		</form>
	</div>
</div>



{% endblock %}